
:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(0.2rem + 10px , 1vw, 30px);
  --font-size-lg: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-xl: clamp(15px, 1vw, 30px);
  --font-size-2xl: clamp(20px, 1.5vw, 40px);
  --font-size-3xl: clamp(30px, 2vw , 60px);
  --icon-size: clamp(20px, 1.5vw, 30px);
}


.background {
  background: url('../src//assets//img/Fondo.svg');
}



.title {
  font-size: var(--font-size-3xl);
}

.subtitle {
  font-size: var(--font-size-2xl);
}

.icon-size {
  font-size: var(--icon-size);
}

.download-icon {
  font-size: var(--icon-size);
}

.text-content {
  font-size: var(--font-size-base);
}


/* 
.title-shadow {
  text-shadow: 4px 2px 6px #4976ED;
  filter: text;
  font-size: clamp(1.5em, 2vh, 5em);
}


.icon-purple {
  width: clamp(2em,1.5vw, 7em);
}


.text-second {
  font-size: clamp(0.9em, 1.6vh, 5em);;
}




.avatar {
  width: clamp(14em, 10vw, 30em);
  height: clamp(15em, 30vh, 50em);
}


.title-second {
  font-size: clamp(1em, 1.5vh, 4em);
  font-weight: 900;
}


.mini-box {
  width: clamp(3em, 1.2vw, 5em);
  height: clamp(3em, 1.2vh, 5em);
}

.mini-box .icon {
  width: clamp(2em, 1.2vw, 4em);
  height: clamp(2em, 1.2vh, 4em);
}



.tech-stack {
  width: clamp(6em, 5.2vw, 12em);
  height: clamp(6em, 5.2vh, 12em);
}

.tech-stack img{
  width: clamp(2em, 4vw, 10em);
  height: clamp(2em, 4vh, 10em);
  object-fit: contain;
}


.mini-icon-purple {
  width: clamp(1.5em,1.5vw, 5em);
} */


::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
